@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ui-font-size: 100%; /* Default UI font size (can be adjusted in settings) */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Apply font size scaling on mobile devices */
@media (max-width: 767px) {
  html {
    font-size: var(--ui-font-size);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
